<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search App</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <h1>Search Something</h1>
    <form id="search-form">
      <input
        type="text"
        id="search-bar"
        name="search_query"
        placeholder="Type here..."
      />
      <button type="submit" id="submit-btn">Search</button>
    </form>

    <h3 id="response"></h3>

    <script src="../js/script.js"></script>
  </body>
</html>
